---
title: "Shenzhen Solitaire"
date: 2021-06-28 16:14:29
categories: projects game
excerpt: Zachtronic's Shenzhen Solitaire from Shenzhen I/O in the browser. Initially, made for <a href="https://generic.fish/clicker">khoima clicker</a>, now made standalone.
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    {% include header.html %}

    <main class="page-content" aria-label="Content">
        <header class="post-header">
            <p class="post-date">
                <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{
                    page.date | date: site.date_format}}</time>
                {% if page.modified_date %}
                {% assign mdate = page.modified_date | date_to_xmlschema | date: site.date_format %}
                <span class="dateModified">
                    (Updated

                    <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">{{ mdate }}</time>)
                </span>
                {% endif %}
            </p>
            <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
            {% if page.categories %}
            <div class="post-tags">
                {% for category in page.categories %}
                <span class="post-tag">{{ category }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <hr>
        </header>

        <article class="post-content e-content" itemprop="articleBody">
            {{ page.excerpt }}
        </article>

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </main>

    <div class="flex-center">
        <div id="sh-container">
            <div id="sh-shenzhen">
                <div id="sh-stores">
                    <div id="sh-trays"></div>
                    <div id="sh-buttons">
                        <button disabled="disabled" id="sh-dragon-red">RED</button>
                        <button disabled="disabled" id="sh-dragon-black">WHT</button>
                        <button disabled="disabled" id="sh-dragon-green">GRN</button>
                    </div>
                    <div id="sh-bins"></div>
                </div>
            </div>
            <div class="controls flex-center">
                <div class="input">
                    <button onclick="game.restart()">restart</button>
                </div>
                <div class="input">
                    <input type="checkbox" name="sh-fast" id="sh-fast">
                    <label for="sh-fast">fast animations</label>
                </div>
                <div class="input">
                    <input type="checkbox" name="sh-colorblind" id="sh-colorblind">
                    <label for="sh-colorblind">red/green colorblind</label>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}

    <link rel="stylesheet" href="{{ "/assets/projects/shenzhen/game.css" | relative_url }}">
    <script src="{{ "/assets/projects/shenzhen/draggable.js" | relative_url }}"></script>
    <script src="{{ "/assets/projects/shenzhen/game.js" | relative_url }}"></script>
</body>

</html>
