---
layout: default
title: Home
regenerate: true
---

<div class="home">
    <ul class="post-list">
        {% for card in site.cards reversed %}
        {% if card.tags contains "featured" %}
        <li class="feature">
            <div>
                <span class="post-meta">{{ card.date | date: "%Y %B" }}</span>
                {% for tag in card.tags %}
                <span class="post-tag">{{ tag | escape }}</span>
                {% endfor %}
            </div>

            <div class="title">
                <a href="{{ card.link }}">{{ card.title }}</a>
            </div>

            <div class="post-excerpt">
                {{ card.content }}
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <h2 class="lead">other links &amp; projects</h2>
    <ul class="post-list">
        {% for card in site.cards reversed %}
        {% if card.tags contains "featured" %}{% else %}
        <li>
            <div>
                <span class="post-meta">{{ card.date | date: "%Y %B" }}</span>
                {% for tag in card.tags %}
                <span class="post-tag">{{ tag | escape }}</span>
                {% endfor %}
            </div>

            <div class="title">
                <a href="{{ card.link }}">{{ card.title }}</a>
            </div>

            <div class="post-excerpt">
                {{ card.content }}
            </div>
        </li>
        {% endif %}
        {% endfor %}
        <div class="center">
            see more stuff on the <a href="{{ "/blog" | relative_url }}">blog page</a>
        </div>
    </ul>

</div>
