---
---
.noise-demo {
    background: #16161D;
    border: 1px solid #363642;
}

.noise-container {
    width: 450px;
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
}

.step-1, .step-2, .step-3 { margin-top: 1em; }

.noise-container button { margin-top: 1rem; }
