<script type="text/x-fragment-shader" id="update-vs" markdown="0">
#version 300 es
precision highp float;

uniform float u_Consts[1];
uniform float u_Speed;
uniform sampler2D u_RgbNoise;

in vec3 i_Position;

out vec3 v_Position;

vec3 get_velocity()
{
    vec3 velo = vec3(0.);

    velo.x = -u_Consts[0] * i_Position.x
                - 4. * i_Position.y
                - 4. * i_Position.z
                - i_Position.y * i_Position.y;

    velo.y = -u_Consts[0] * i_Position.y
                - 4. * i_Position.z
                - 4. * i_Position.x
                - i_Position.z * i_Position.z;

    velo.z = -u_Consts[0] * i_Position.z
                - 4. * i_Position.x
                - 4. * i_Position.y
                - i_Position.x * i_Position.x;

    return velo;
}


void main()
{
    vec3 pos = i_Position + get_velocity() * u_Speed;

    ivec2 uv = ivec2(int(i_Position[0]) % 512, int(i_Position[1]) % 512);
    vec3 noise = texelFetch(u_RgbNoise, uv, 0).rgb / 255.;

    pos = mix(pos, noise, float(length(pos) > 25.));
    pos += noise;

    v_Position = pos;
}
</script>
<script type="text/x-fragment-shader" id="update-fs" markdown="0">
#version 300 es
precision highp float;

void main()
{
    discard;
}
</script>
<script type="text/x-fragment-shader" id="render-vs" markdown="0">
#version 300 es
precision highp float;

uniform vec3 u_Angles;
uniform vec3 u_Camera;
uniform float u_Scale;
uniform float u_Ortho[6];

in vec3 i_Position;

mat3 get_perspective(vec3 angles)
{
    // Get the Perspective Projection
    float cx = cos(angles.x),
            cy = cos(angles.y),
            cz = cos(angles.z),
            sx = sin(angles.x),
            sy = sin(angles.y),
            sz = sin(angles.z);

    // clang-format off
    mat3 projection = mat3(
        cy * cz               , cy * sz               , -sy    ,
        sx * sy * cz - cx * sz, sx * sy * sz + cx * cz, sx * cy,
        cx * sy * cz + sx * sz, cx * sy * sz - sx * cz, cx * cy
    );
    // clang-format on

    return projection;
}

mat4 get_orthographic()
{
    // Ortho 6-tuple: (left, right, bottom, top, near, far)
    return mat4(
        2. / (u_Ortho[1] - u_Ortho[0]), 0., 0., -(u_Ortho[1] + u_Ortho[0]) / (u_Ortho[1] - u_Ortho[0]),
        0., 2. / (u_Ortho[3] - u_Ortho[2]), 0., -(u_Ortho[3] + u_Ortho[2]) / (u_Ortho[3] - u_Ortho[2]),
        0., 0., -2. / (u_Ortho[5] - u_Ortho[4]), -(u_Ortho[5] + u_Ortho[4]) / (u_Ortho[5] - u_Ortho[4]),
        0., 0., 0., 1.);
}

void main() {
    mat3 projection = get_perspective(u_Angles);
    vec3 rel_position = i_Position - u_Camera;

    gl_Position = get_orthographic() * vec4(projection * rel_position, u_Scale);
    gl_PointSize = 1.;
}
</script>
<script type="text/x-fragment-shader" id="render-fs" markdown="0">
#version 300 es
precision highp float;

out vec4 o_FragColor;

void main()
{
    vec3 color1 = vec3(1., 0., 0.);
    vec3 color2 = vec3(0., 0., 1.);

    vec3 color = mix(color1, color2, gl_FragCoord[2]);

    o_FragColor = vec4(color, 1.);
}
</script>
