<script type="text/x-fragment-shader" id="update-fs">#version 300 es
precision highp float;void main(){discard;}</script><script type="text/x-fragment-shader" id="render-vs">#version 300 es
precision highp float;uniform vec3 u_Angles,u_Camera;uniform float u_Scale;uniform mat4 u_Orthographic;uniform mat3 u_Perspective;in vec3 i_Position;void main(){gl_Position=u_Orthographic*vec4(u_Perspective*(i_Position-u_Camera),u_Scale);gl_PointSize=1.;}</script><script type="text/x-fragment-shader" id="render-fs">#version 300 es
precision highp float;out vec4 o;void main(){o=vec4(mix(vec3(1.,0.,0.),vec3(0.,0.,1.),gl_FragCoord[2]),1.);}</script>
