<div id="feature">
    <div class="container">
        <canvas id="curl-demo" width="700" height="700"></canvas>
        <div class="description">
            <figcaption>
                <a href="/2021/01/noise-functions">noise functions</a>.
            </figcaption>
    
            <button id="curl-restart">Restart Animation</button>
        </div>
    </div>

    <hr>

    <script src="https://static.barnden.dev/barn-noise/noise.js"></script>
    <script src="https://static.barnden.dev/barn-noise/particle.js"></script>
    <script src="{{ "/assets/noise/noise_feature.js" | relative_url }}"></script>
</div>
