.post-header {
    text-align: center;

    .post-date {
        line-height: 1em;
        margin-bottom: 0.5rem;
    }

    .post-title {
        line-height: 1.2em;
        margin-bottom: 0.5rem;
    }

    margin-bottom: 1rem;
}

.site-header {
    min-height: 1.75rem;

    margin-bottom: $spacing / 1.25;

    border-bottom: 1px solid $border-1;

    ul {
        display: flex;
        flex-wrap: wrap;

        margin: 0;

        list-style-type: none;

        li {
            display: inline-block;
            font-size: 1rem;
            letter-spacing: -1px;

            a {
                margin: 0;
                padding: 1px;

                white-space: nowrap;
            }

            &:not(:last-child)::after {
                margin: 0 0.25rem;
                content: "\2014";
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 0;

    height: 6rem;
    margin: 1rem 0;
    width: 100%;
    border-top: 1px solid $border-1;

    padding: 0; margin: 0;

    font-size: .85rem;

    a { text-decoration: none; }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        text-align: center;

        li {
            padding: 0;
            margin: 0 1.5rem;
        }
    }
}
