.feature {
    canvas.demo {
        flex-basis: 100%;
        border: 1px solid $border-1;

        max-width: 100%;
    }

    .description {
        flex-basis: 100%;
        text-align: center;

        button { margin-top: 1.5em; }
    }
}

.flex-center {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.block {
    padding: .5em .75em;
    margin: 1.25em 0;

    border-radius: 4px;
    border-left: 4px solid $default-background;

    &.remark p:first-child:before { content: "Remark" }

    & > p:first-child {
        font-weight: bold;

        &:before {
            font-weight: normal;
            margin-right: .5rem;
        }
    }

    &.remark {
        border-color: rgba($beige, 0.85);
        background: rgba($beige, 0.05);

        & > p:first-child { color: $beige; }
    }

    &.definition {
        border-color: rgba($green, 0.85);
        background: rgba($green, 0.05);

        & > p:first-child {
            &:before { content: "Definition"; }

            color: $green;
        }
    }

    &.example {
        border-color: rgba($orange, 0.85);
        background: rgba($orange, 0.05);

        & > p:first-child {
            &:before { content: "Example"; }
    
            color: $orange;
        }
    }

    &.archive {
        border-color: $orange;
        background: rgba(215,122,97,.02);

        text-align: center;

        & > p:first-child {
            margin: 0;

            &:before {
                font-weight: bold;
                content: "This article has been archived.";
            }

            color: $orange;
        }
    }
}

.center { text-align: center; }

ul.post-list {
    list-style-type: none;
    margin: 1em 0;

    li {
        padding: 1rem;
        background-color: $default-background;

        border: 1px solid $border-0;
        border-radius: 6px;

        transition: border .5s ease;

        &:hover {
            border: 1px solid $border-2;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        & span.post-meta {
            margin-right: 0.5rem;
        }

        & > div.title > a {
            display: inline-block;

            line-height: normal;
            margin: 0.25rem 0;

            font-weight: bold;
            font-size: 1.125rem;
        }

        &.feature > div.title > a {
            font-size: 1.65rem;
            margin: .75rem 0;
        }

        p {
            display: inline;
        }
    }
}

span.post-tag {
    background: darken($default-background, 2%);
    color: darken($default-color, 15%);

    font-size: 0.875rem;
    font-family: $mono;

    margin: 0 2px;
    padding: 2px 4px;

    border: 1px solid $border-3;
    border-radius: 5px;
}

h2.lead {
    font-size: 1.3rem;
    margin: 1em 0 0 0;
}

.dateModified {
    display: block;
    font-size: .7em;
}

.breadcrumbs {
    margin: 1em auto;
    font-size: .85rem;

    & a {
        display: inline-block;
        text-overflow: ellipsis;
        max-width: 350px;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: -1ex;
    }
}

figcaption {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

details > summary {
    user-select: none;
}

.hidden {
    display: none;
}

li.task-list-item {
    list-style-type: none;
    margin-left: -1em;

    input[type=checkbox] {
        margin-right: 1em;
    }
}

.border {
    border: 1px solid $border-0;
}

.pointer {
    cursor: pointer;
}
