---
layout: default
---
<div class="home">
    {%- include featured.html -%}
    {{ content }}
    {% if site.paginate %}
        {% assign posts = paginator.posts %}
    {% else %}
        {% assign posts = site.posts %}
    {% endif %}

    {%- if posts.size > 0 -%}
        <h2 class="lead">posts</h2>
        <ul class="post-list">
            {%- assign date_format = "%-d %b. %y" -%}
            {%- for post in paginator.posts -%}
                <li>
                    <span class="post-meta">{{ post.date | date: date_format }}</span><a href="{{ post.url | relative_url }}" class="post-link">{{ post.title | escape }}</a>
                </li>
            {%- endfor -%}
        </ul>

        {% if paginator.total_pages > 1 %}
            <div class="pager">
                <ul class="pagination">
                {%- if paginator.previous_page -%}
                    <li><a href="{{ paginator.previous_page_path | relative_url }}">{{ paginator.previous_page }}</a></li>
                {%- else %}
                    <li><div class="pager-edge">•</div></li>
                {%- endif %}
                <li><div class="current-page">{{ paginator.page }}</div></li>
                {%- if paginator.next_page -%}
                    <li><a href="{{ paginator.next_page_path | relative_url }}">{{ paginator.next_page }}</a></li>
                {%- else %}
                    <li><div class="pager-edge">•</div></li>
                {%- endif %}
                </ul>
            </div>
        {%- endif %}
    {%- endif -%}
    <h2 class="lead">misc. links</h2>
    <ul class="post-list">
        <li><a href="{{ "/notes" | relative_url }}"> notes</a></li>
        <li><a href="{{ "/about" | relative_url }}">about</a></li>
        <li><a href="https://generic.fish">generic.fish</a></li>
    </ul>
</div>
