---
layout: default
---
<header class="post-header">
    <p class="post-date">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{
            page.date | date: site.date_format}}</time>
        {% if page.modified_date %}
        {% assign mdate = page.modified_date | date_to_xmlschema | date: site.date_format %}
        <span class="dateModified">
            (Updated

            <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">{{ mdate }}</time>)
        </span>
        {% endif %}
    </p>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% if page.categories %}
    <div class="post-tags">
        {% for category in page.categories %}
        <span class="post-tag">{{ category }}</span>
        {% endfor %}
    </div>
    {% endif %}
    <hr>
</header>

<article class="post-content e-content" itemprop="articleBody">
    {{ content }}
</article>

<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
